<footer>
    <div id = 'newsletter'>
        <ul>
            <li>Subscribe to our Newsletter!</li>
            <li>find out more about new products and possible discounts!</li>
            <li>
                <input type = 'email' id = 'mailbox' placeholder = 'Email'>
            </li>
        </ul>
    </div>

    <ul>
        <li class = 'footer-info'>Get To Know Us
            <ul class = 'vertical'>

                <li>About Mobium</li>
                <li>Careers</li>
                <li>Founders</li>

            </ul>
        </li>

        <li class = 'footer-info'>Let Us Help You
            <ul class = 'vertical'>

                <li>Your Account</li>
                <li>Shipping Rates & Policies</li>
                <li>Returns & Replacements</li>
                <li>Help</li>

            </ul>
        </li>

        <li class = 'footer-info'>Make Money with Us
            <ul class = 'vertical'>

                <li>Sell Products On Mobium</li>
                <li>Become An Affiliate</li>
                <li>Advertise Your Products</li>

            </ul>
        </li>
    </ul>
</footer>