<nav>
    <ul>

        <li class = 'nav-link'><a>Apple</a></li>
        <li class = 'nav-link'><a>Google</a></li>
        <li><a href = '/' id = 'logo'>MOBIUM<span id = 'dot'>.</span></a></li>
        <li class = 'nav-link'><a>Samsung</a></li>
        <li class = 'nav-link'><a>Sony</a></li>

    </ul>

    <ul id = 'cart-login'>

        <li class = 'nav-link'><a href = '/register'>Login</a></li>
        <li class = 'nav-link'><img src = '/img/cart.svg'></li>

    </ul>
</nav>