<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <title> Mobium: Premium Reseller </title>
        <link rel = 'stylesheet' href = '/css/styles.css'>

    </head>

    <body>
        <nav>
            <ul>

                <li>Apple</li>
                <li>Google</li>
                <li>MOBIUM<span id = 'dot'>.</span></li>
                <li>Samsung</li>
                <li>Sony</li>

            </ul>

            <ul id = 'cartlogin'>

                <li><img src = '/img/cart.svg'></li>
                <li>Login</li>

            </ul>
        </nav>

        <div id = 'banner'></div>

        <input type = "search" id = 'searchBar' placeholder = "search">

        <h1>Featured Phones</h1>

        <div>
            <ul>

                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>

            </ul>
        </div>

        <h1>Best Selling Phones</h1>

        <div>
            <ul>

                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>

            </ul>
        </div>

        <footer>
            <div id = 'newsletter'>
                <ul>
                    <li>Subscribe to our Newsletter!</li>
                    <li>To find out more about new products and possible discounts!</li>
                    <li>
                        <input type = 'email' id = 'mailbox' placeholder = 'Email'>
                    </li>
                </ul>
            </div>

            <ul id = 'footerinfo'>
                <li class = 'bold'>Get To Know Us
                    <ul class = 'vertical'>

                        <li>About Mobium</li>
                        <li>Careers</li>
                        <li>Founders</li>

                    </ul>
                </li>

                <li class = 'bold'>Let Us Help You
                    <ul class = 'vertical'>

                        <li>Your Account</li>
                        <li>Shipping Rates & Policies</li>
                        <li>Returns & Replacements</li>
                        <li>Help</li>

                    </ul>
                </li>

                <li class = 'bold'>Make Money with Us
                    <ul class = 'vertical'>

                        <li>Sell Products On Mobium</li>
                        <li>Become An Affiliate</li>
                        <li>Advertise Your Products</li>

                    </ul>
                </li>
            </ul>
        </footer>
    </body>
</html>