<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <title> Mobium: Premium Reseller </title>
        <link rel = 'stylesheet' href = '/css/styles.css'>

    </head>

    <body>
        <nav>
            <ul>

                <li>Apple</li>
                <li>Google</li>
                <li>MOBIUM<span class = 'dot'>.</span></li>
                <li>Samsung</li>
                <li>Sony</li>

            </ul>

            <ul id = 'cartlogin'>

                <li><img src = '/img/cart.svg'></li>
                <li>Login</li>

            </ul>
        </nav>

        <div id = 'banner'></div>

        <input type = "search" id = 'searchBar' placeholder = "search">

        <h1>Featured Phones</h1>

        <div>
            <ul>

                <li class = 'featured'>iPhone 12 Pro
                    <ul class = 'subtitle'>
                        <li>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>Second Product</li>
                <li class = 'featured'>Third Product</li>

            </ul>
        </div>

        <h1>Best Selling Phones</h1>

        <div>
            <ul>

                <li class = 'featured'>First Product</li>
                <li class = 'featured'>Second Product</li>
                <li class = 'featured'>Third Product</li>

            </ul>
        </div>

        <footer>
            <div id = 'newsletter'>
                <ul>
                    <li>Subscribe to our Newsletter!</li>
                    <li>To find out more about new products and possible discounts!</li>
                    <li>Email</li>
                </ul>
            </div>
        </footer>
    </body>
</html>