<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <title> Mobium: Premium Reseller </title>
        <link rel = 'stylesheet' href = '/css/styles.css'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>

    <body>
        <nav>
            <ul>

                <li class = 'nav-link'><a>Apple</a></li>
                <li class = 'nav-link'><a>Google</a></li>
                <li><a href="localhost:3000" id = 'logo'>MOBIUM<span id = 'dot'>.</span></a></li>
                <li class = 'nav-link'><a>Samsung</a></li>
                <li class = 'nav-link'><a>Sony</a></li>

            </ul>

            <ul id = 'cart-login'>

                <li class = 'nav-link'><a>Login</a></li>
                <li class = 'nav-link'><img src = '/img/cart.svg'></li>

            </ul>
        </nav>

        <div id = 'banner'></div>

        <input type = "search" id = 'search-bar' placeholder = "search">

        <h1>Featured Phones</h1>

        <div>
            <ul class = 'dark-shadow'>

                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>

            </ul>
        </div>

        <h1>Best Selling Phones</h1>

        <div>
            <ul class = 'dark-shadow'>

                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>
                <li class = 'featured'>iPhone 12 Pro
                    <ul>
                        <li class = 'subtitle'>by Apple</li>
                    </ul>
                </li>

            </ul>
        </div>

        <footer>
            <div id = 'newsletter'>
                <ul>
                    <li>Subscribe to our Newsletter!</li>
                    <li>To find out more about new products and possible discounts!</li>
                    <li>
                        <input type = 'email' id = 'mailbox' placeholder = 'Email'>
                    </li>
                </ul>
            </div>

            <ul>
                <li class = 'footer-info'>Get To Know Us
                    <ul class = 'vertical'>

                        <li>About Mobium</li>
                        <li>Careers</li>
                        <li>Founders</li>

                    </ul>
                </li>

                <li class = 'footer-info'>Let Us Help You
                    <ul class = 'vertical'>

                        <li>Your Account</li>
                        <li>Shipping Rates & Policies</li>
                        <li>Returns & Replacements</li>
                        <li>Help</li>

                    </ul>
                </li>

                <li class = 'footer-info'>Make Money with Us
                    <ul class = 'vertical'>

                        <li>Sell Products On Mobium</li>
                        <li>Become An Affiliate</li>
                        <li>Advertise Your Products</li>

                    </ul>
                </li>
            </ul>
        </footer>
    </body>
</html>