<!DOCTYPE html>

<html lang = 'en'>

    <%- include('./partials/head.ejs') %> <!-- Includes HTML Configurations -->

    <body>

        <%- include('./partials/nav.ejs') %> <!-- Includes navigation -->

        <div id = 'register' class = 'dark-shadow'>

            <h1>Register</h1>

            <form>
            </form>

        </div>

        <%- include('./partials/footer.ejs') %> <!-- Includes footer -->

    </body>
</html>