/* Global Properties*/

:root {
    --mainColor: #892fd8;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(16px, 1.04vw, 20px);
    font-weight: 600;
    color: var(--mainColor);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

h1 {
    font-size: clamp(30px, 1.82vw, 35px);
    text-align: center;
    padding: 30px 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    align-self: center;
}

a {
    text-decoration: none;
}

.dark-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.button {
    align-self: center;
    color: white;
    font-weight: 700;
    background-color: var(--mainColor);
    transition: background-color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
}

.button:active {
    background-color: #9d58da;
}

.subtitle {
    font-size: clamp(16px, 1.04vw, 20px);
    margin-top: -10px;
    margin-bottom: 25px;
    color: #282828
}


/* Nav Properties */

nav {
    position: fixed;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
    height: 100px;
    z-index: 100;
}

nav input[type = 'checkbox'] {
    display: none;
}

nav ul {
    grid-column: 2;
}

#menu {
    display: none;
    overflow-y: scroll;
}

#menu p {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

#menu button {
    height: 40px;
    width: 260px;
    margin: 0 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#menu ol{
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px;
}

#menu #content-list {
    margin-left: 20px;
    margin-bottom: 70px;
}

#menu li {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
}

#menu div {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 20px;
    bottom: 0;
    width: 300px;
    height: 50px;
    background: white;
    align-items: center;
    box-shadow: 0 10px 50px rgb(0 0 0 / 45%);
}

#menu a {
    font-weight: 400;
}

#menu div a {
    font-weight: 600;
    font-size: 20px;
}

#menu img {
    height: 25px;
    width: 25px;
}

.nav-link {
    align-self: center;
    margin: 0 clamp(0px, 2.604vw, 50px);
    transition: filter 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
                transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-link:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
    transform: scale(1.2);
}

#logo {
    font-size: clamp(46px, 2.6vw, 50px);
    padding: 0 clamp(0px, 5.2vw, 100px);
}

#dot {
    font-weight: 900;
    font-size: clamp(46px, 2.6vw, 50px);
}

#cart-login {
    display: flex;
    justify-content: center;
    grid-column: 3;
}

#cart {
    height: clamp(50px, 2.865vw, 55px);
    width: clamp(40px, 2.344vw, 45px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-image: url(/img/icons/cart.svg);
}

#cart a {
    height: inherit;
    width: inherit;
}


/* Banner Properties */

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image: url('/img/Phones.png');
}

#arrow {
    position: absolute;
    width: clamp(35px, 3.38vw, 65px);
    bottom: 1.3vw;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.45));
    animation: bounce 10s infinite linear;
    left: calc(50vw - 1.69vw)
}

@keyframes bounce {
    5% {transform: translateY(-15px);}
    10% {transform: translateY(0);}
    15% {transform: translateY(-10px);}
    20% {transform: translateY(5px);}
    25% {transform: translateY(0);}
}


/* Search bar properties*/

#search-bar {
    z-index: 97;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    position: sticky;
    height: 50px;
    width: 400px;
    top: 120px;

    margin: 0 auto;

    border-style: solid;
    border-color: rgba(160, 160, 160, 0.65);
    border-width: 2px;
    border-radius: 5px;

    -webkit-backdrop-filter: blur(30px) brightness(80%);
    backdrop-filter: blur(30px) brightness(80%);
}

#home #search-bar {
    display: flex;
    justify-content: space-between;

    position: absolute;
    height: 70px;
    width: 600px;

    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto auto;
}

#search-bar input {
    height: 100%;
    width: 85%;
    margin-left: 25px;
    color: white;
    background: transparent;
}

#search-bar input:-webkit-autofill::first-line {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#home #search-bar input:-webkit-autofill::first-line {
    font-size: 25px;
}

#home #search-bar input {
    font-size: 25px;
}

#search-bar input::placeholder {
    color: white;
}

#search-bar button {
    height: 100%;
    width: 5%;
    margin-right: 25px;
    background: no-repeat center url(/img/icons/Search-icon.svg);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#search-bar button:hover {
    transform: scale(1.15)
}

#shine {
    z-index: -1;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(65deg, rgba(255,255,255,0) 25%, rgba(255,255,255, 0.8) 50%, transparent);;
    transition: left 0.7s,
                background 0.7s
}

#search-bar:hover > #shine {
    left: 100%;
    background: linear-gradient(-65deg, rgba(255,255,255,0) 25%, rgba(255,255,255, 0.8) 50%, transparent);
}


/* Register Form */

#register {
    height: auto;
    width: 100%;
    margin-top: 140px;
}

#register-form {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 30px;
    grid-auto-flow: column;
}

.form-input {
    font-weight: 400;
    color: #282828;
    grid-column: 2;
    width: calc(100vw - 60px);
    max-width: 400px;
    height: 40px;
    margin: 15px 0;
    border-bottom: solid;
    border-width: 2px;
    border-color: #282828;
    text-align: center;
}

.form-input:-webkit-autofill::first-line {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

form .button {
    grid-column: 2;
    height: 50px;
    margin-top: 35px;
    border-radius: 5px;
}

.register-label {
    justify-self: right;
    align-self: center;
}

.hidden-label {
    grid-column: 2;
    display: none;
}

.error-msg, .under-error {
    align-self: center;
    justify-self: left;
    grid-column: 3;
    color: red;
    font-weight: 400;
}

.under-error {
    display: none;
}

#error-email {
    grid-row: 5;
}

#birthdate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2;
    max-width: 400px;
}

#birthdate input {
    width: 30%
}

#genders {
    display: flex;
    justify-content: center;
    grid-column: 2;
    margin-bottom: 35px;
    max-width: 400px;
}

#genders input {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    margin: 15px 50px 15px 15px;
    border: solid;
    border-color: var(--mainColor);
    border-width: 2px;
}

#genders input:after {
    content: '';
    position: relative;
    float: left;
    top: 12px;
    left: 12px;
    height: 0;
    width: 0;
    background: var(--mainColor);
    transition: height 0.15s cubic-bezier(.34,1.56,.47,1.6),
                width 0.15s cubic-bezier(.34,1.56,.47,1.6),
                top 0.15s cubic-bezier(.34,1.56,.47,1.6),
                left 0.15s cubic-bezier(.34,1.56,.47,1.6);
}

#genders input:checked:after {
    content: '';
    position: relative;
    float: left;
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
    background: var(--mainColor);
}

input#male {
    margin-right: 0;
}

#email-label {
    grid-row: 5;
}

#genders label {
    align-self: center;
}

.prompt {
    grid-column: 2;
    justify-self: center;
    margin: 25px 0;
    font-weight: 400;
    color: #282828
}

.login-form {
    z-index: 99;
    position: fixed;

    top: -200px;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.45));

    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#shift-login {
    top: calc(50% + 50px); 
}

.login-form div {
    padding: 25px;
    padding-bottom: 0;
    width: clamp(350px, 20.833vw, 400px);

    border-radius: 5px 5px 0 0;
    background-color: white;
}

.login-form .button {
    margin-top: 0;
    width: 100%;

    border-radius: 0 0 5px 5px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.45));
}

.login-form .prompt {
    margin: 0;
    padding: 15px 0;
}

#login-error {
    color: red;
    font-weight: 400;
    padding-bottom: 15px;
}

.login-input {
    height: 40px;
    width: 100%;
    margin-top: 15px;

    border-bottom: solid;
    border-width: 2px;
    border-color: #282828;

    font-weight: 400;
    color: #282828;
}

.login-input:first-of-type {
    margin-top: 0;
}

.login-input::placeholder {
    color: var(--mainColor)
}

.login-input:-webkit-autofill::first-line {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* Featured Properties */

.featured-container {
    display: flex;
    overflow: hidden;
    height: clamp(300px, 20.8vw, 400px);
}

.featured {
    width: calc(100vw / 3);
    text-align: center;
}

.featured img {
    width: clamp(200px, 20.84vw, 400px);
    height: clamp(200px, 20.84vw, 400px);
    object-fit: scale-down;
}

.title{
    margin-top: 25px;
    font-size: clamp(36px, 2.08vw, 40px);
    color: #282828
}

.blur-container {
    height: inherit;
    width: inherit;
    position: absolute;
    transition: backdrop-filter 0.1s linear,
                -webkit-backdrop-filter 0.1s linear;
}

.blur-container:hover {
    display: flex;
    justify-content: center;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
    border-color: #B4B4B4;
    -webkit-backdrop-filter: blur(10px) brightness(80%);
    backdrop-filter: blur(10px) brightness(80%);
}

.blur-container a {
    visibility: hidden;
    display: inline-block;
    width: inherit;
    color: white;
    font-size: clamp(20px, 2.08vw, 40px);
    line-height: clamp(300px, 20.8vw, 400px);
}

.blur-container:hover > a {
    visibility: visible;
}


/* Catalog Properties */

#filters {
    display: flex;
    height: 80px;
    width: 100%;
    margin-top: 140px;
    background-color: white;
}

.push-button {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
    margin: 0 clamp(0px, 2.34vw, 45px);
    padding: 5px 5px;
    border-radius: 5px;
}

.push-button:hover {
    background-color: rgb(230, 230, 230)
}

.dropdown {
    z-index: 98;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    max-height: 0;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.45));
    transition: max-height 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

#cartDrop {
    margin-top: 70px;
}

.push-button:hover > .dropdown {
    max-height: 360px;
}

.triangle {
    border: solid;
    border-width: 15px;
    border-color: white;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.item-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.item-holder a {
    font-weight: 400;
    margin: 10px 0;
}

.item-holder a:hover {
    font-weight: 600;
}

#filter-tag {
    text-align: center;
    margin: 30px 0;
}

#filter-tag button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#filter-tag button:hover {
    transform: scale(1.15);
}

#products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, clamp(0px, 13.02vw, 250px));
    grid-template-areas:
        "main main . . . ."
        "main main . . . secondary"
        ". . . . . secondary";
    gap: clamp(5px, 0.52vw, 10px);
    max-width: 1850px;
    margin: 0 auto;
    padding: 0 35px;
}

.product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    height: clamp(0px, 13.02vw, 250px);
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.product:hover {
    z-index: 10;
    transform: scale(1.15);
}

.product > p {
    font-size: clamp(16px, 1.30vw, 25px);
    color: #282828;
    margin: 15px auto;
}

.product img {
    max-width: 40%;
}

.cart-shortcut {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: clamp(0px, 10.41vw, 200px);
    height: clamp(0px, 2.08vw, 40px);
    bottom: -50px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px) brightness(80%);
    backdrop-filter: blur(10px) brightness(80%);
    transition: bottom 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.product:hover > .cart-shortcut {
    bottom: 20px;
}

.cart-shortcut p {
    color: white;
    margin: auto;
}

.cart-shortcut button {
    height: 100%;
    width: 20%;
    background-image: url('/img/icons/Plus.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#item1 {
    grid-area: main;
    height: 100%;
    width: 100%
}

#item1 > p {
    font-size: 40px;
}

#item1 img{
    max-width: 60%;
}

#item9 {
    grid-area: secondary;
    height: 100%;
}

#item9 > p {
    font-size: clamp(31px, 1.82vw, 35px);
    margin: 30px auto;
}

#item9 img {
    max-width: 80%;
}


/* Footer & Newsletter Properties */

footer {
    background-color: #E1E1E1;
    margin-top: clamp(30px, 4.68vw, 90px);
}

footer section {
    display: flex;
    grid-gap: 80px;
    justify-content: center;
}

section div {
    justify-self: left;
    white-space: nowrap;
    margin: 100px 0;
    color: #282828;
}

section div:first-of-type {
    justify-self: right;
}

footer p {
    font-weight: 400;
    color: #282828;
}

footer p:first-of-type {
    margin-top: 20px;
}

footer p:hover {
    font-weight: 600;
}

#newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: clamp(60px, 7.8125vw, 150px);
    background-color: var(--mainColor);
}

#newsletter p {
    grid-column: 2;
    white-space: nowrap;
    margin: 0 10px;
    font-size: clamp(12px, 1.042vw, 30px);
    font-weight: 400;
    color: white;
}

#newsletter p:first-of-type {
    grid-column: 1;
    margin-right: 0;
    font-size: clamp(14px, 1.8vw, 35px);
    font-weight: 600;
}

#newsletter input{
    width: clamp(150px, 26.042vw, 500px);
    grid-column: 3;
}

#mailbox {
    margin-right: 10px;
    width: clamp(150px, 20.833vw, 400px);
    height: clamp(20px, 2.604vw, 50px);
    border-radius: 5px;
    border: none;
    font-size: clamp(16px, 0.938vw, 18px);
    font-weight: normal;
    color: #282828;
    text-align: center;
}

#mailbox::placeholder {
    font-weight: normal;
    font-size: clamp(16px, 0.938vw, 18px);
    text-align: center;
    color: #9B9B9B;
    opacity: 1;
}

.footer-info {
    margin: 4.42vw 2.604vw;
    align-self: baseline;
    color: #282828;
}

.vertical {
    flex-direction: column;
    margin-top: 30px;
}

.vertical li {
    font-weight: normal;
    color: #282828;
    align-self: end;
}


@media screen and (max-width: 70em) {
    nav {
        height: 60px;
        width: 100vw;
    }

    #menu {
        z-index: 98;
        display: inline-block;
        position: fixed;
        top: 60px;
        left: -300px;
        height: calc(100vh - 60px);
        width: 300px;
        background: white;
        box-shadow: 0 0 20px rgb(0 0 0 / 45%);
        transition: left 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .nav-link {
        display: none
    }

    #menu .nav-link {
        display: inline-block;
    }
    
    #logo {
        font-size: 30px;
        display: inline-block;
    }

    #dot {
        font-size: 30px;
    }

    #cart-login {
        justify-content: flex-end;
    }

    #hamburguer {
        display: inline-block;
        margin-left: 10px;
        width: 45px;
        height: 35px;
        border-radius: 5px;
        background-position: center;
        background-size: 25px 15px;
        background-image: url(/img/icons/Hamburguer.svg);
        background-repeat: no-repeat;
    }

    #search-bar {
        top: 80px;
    }

    /* Register */

    #register {
        margin-top: 100px;
    }
}

@media screen and (max-width: 50em) {
    h1 {
        padding: 15px 0;
        font-size: 20px;
    }

    #banner {
        height: 360px;
    }

    #home #search-bar {
        top: 60px;
    }

    #arrow {
        display: none;
    }

    .featured-container {
        height: 200px;
    }

    .title {
        font-size: 20px;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .blur-container {
        height: 200px;
    }

    .blur-container a {
        line-height: 200px;
    }

    
    /* Register */

    .form-input {
        margin: 0;
    }

    #genders {
        margin-bottom: 0;
    }

    #genders input {
        margin: 0px 50px 0px 15px;
    }

    #genders #male {
        margin-right: 0;
    }

    .register-label {
        display: none;
    }

    .hidden-label {
        display: inline-block;
    }

    .error-msg {
        display: none;
    }
    
    .under-error {
        display: inline-block;
        grid-column: 2;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    #register-form p:nth-of-type(4) {
        margin-bottom: 50px;
    }

    #register-form p:nth-of-type(7) {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 50em) and (orientation: landscape) {
    #banner {
        height: 100vh;
    }
}

@media screen and (max-width: 44em) {
    #search-bar {
        width: 300px;
        height: 40px;
    }

    #search-bar button {
        width: 15px;
        margin-right: 15px;
    }

    #search-bar input {
        margin-left: 15px;
        font-size: 16px;
    }

    #home #search-bar {
        width: 300px;
        height: 50px;

        margin: auto;
    }

    #home #search-bar input {
        margin-left: 15px;
        font-size: 20px;
    }

    #home #search-bar button {
        width: 20px;
    }

    .featured-container {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;

        white-space: nowrap;
        scroll-snap-type: x mandatory;

        height: 200px;
        width: 100vw;
    }

    .featured {
        display: inline-block;
        overflow: hidden;

        scroll-snap-align: start;

        height: inherit;
        width: 100vw;

        background: white;
    }

    .blur-container {
        display: none;
    }


    /* Footer */

    #newsletter {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    #newsletter p {
        display: none;
    }
    
    #newsletter p:first-of-type {
        display: inline-block;
        font-size: 20px;
    }

    #newsletter input {
        display: none;
    }

    footer section {
        grid-gap: 0;
        display: flex;
        flex-direction: column;
    }

    section div {
        position: relative;
        margin: 0 20px;
        height: 50px;
        line-height: 50px;
    }

    section div:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100vw;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 25%);
    }

    section div:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 16px;
        top: calc(50% - 8px);
        right: 20px;
        background-image: url(/img/icons/Right-arrow.svg);
        background-repeat: no-repeat;
    }

    section p {
        display: none;
    }
}