 /* Global Properties*/
 
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #892FD8;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

h1 {
    font-size: 35px;
    color: #892fd8;
    text-align: center;
    padding: 30px 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    align-self: center;
}

a {
    text-decoration: none;
}

::placeholder {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.dark-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45)
}

.subtitle {
    margin-top: -10px;
    color:#282828
}

/* Nav Properties */

nav {
    position: fixed;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
    height: 100px;
    z-index: 100;
}

nav ul {
    grid-column: 2;
}

.nav-link {
    margin: 0 2.604vw;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    transition: filter 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
                transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-link:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
    transform: scale(1.2);
}

#logo {
    font-size: 50px;
    padding: 0 5.208vw
}

#dot {
    font-weight: 900;
    font-size: 50px;
}

#cart-login {
    grid-column: 3;
}

#cart-login img {
    width: 25px;
    vertical-align: middle;
}


/* Banner Properties */

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image: url('/img/Phones.png');
}


/* Search bar properties*/

form#search-bar {
    z-index: 9;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 600px;
    position: absolute;
    top: calc((50vh + 50px) - 35px);
    left: calc(50vw - 300px);
    border-style: solid;
    border-color: rgba(180, 180, 180, 0.45);
    border-width: 2px;
    border-radius: 5px;
    backdrop-filter: blur(30px) brightness(90%);
}

form#search-bar input[type = text] {
    background-color: transparent;
    font-size: 25px;
    color: white;
    padding-left: 20px;
    outline: none;
}

#search-button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    margin-right: 20px;
    align-self: center;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#search-button:hover {
    transform: scale(1.15)
}

/* Featured Properties */

.featured {
    width: 33%;
    height: 400px;
    color: #282828;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    background-image: url(/img/iPhone12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -350%;
}


/* Footer & Newsletter Properties */

footer {
    background-color: #E1E1E1;
    height: 500px;
    position: relative;
    top: 80px;
}

#newsletter {
    background-color: #892fd8;
    justify-items: center;
    height: 150px;
}

#newsletter ul {
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#newsletter li {
    font-size: 1.1vw;
    color: white;
    grid-column: 2;
}

#newsletter li:nth-child(1) {
    font-size: 1.9vw;
    grid-column: 1;
}

#newsletter li:nth-child(3) {
    grid-column: 3;
}

#mailbox {
    width: 20.833vw;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    color: #282828;
    text-align: center;
}

#mailbox::placeholder {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #9B9B9B;
    opacity: 1;
}

.footer-info {
    margin: 85px 2.604vw;
    align-self: baseline;
    color: #282828;
}

.vertical {
    flex-direction: column;
    margin-top: 30px;
}

.vertical li {
    font-weight: normal;
    color: #282828;
    align-self: end;
}