<!DOCTYPE html>

<html>

    <div>
        <label id = 'icon' for = 'checkbox'>Hey</label>
        <input id = 'checkbox' type = 'checkbox'>
    </div>

    <style>
        label:hover ~ input {
            height: 100px;
        }
    </style>
</html>