<footer>
    <div id = 'newsletter'>
        <p>Subscribe to our Newsletter!</p>
        <p>find out about new products and possible discounts!</p>
        <input type = 'email' id = 'mailbox' placeholder = 'Email'>
    </div>

    <section>
        <div>Get To Know Us
            <p>About Mobium</p>
            <p>Careers</p>
            <p>Founders</p>
        </div>

        <div>Let Us Help You
            <p>Your Account</p>
            <p>Shipping Rates & Popcies</p>
            <p>Returns & Replacements</p>
            <p>Help</p>
        </div>

        <div>Make Money with Us
            <p>Sell Products On Mobium</p>
            <p>Become An Affipate</p>
            <p>Advertise Your Products</p>
        </div>
    </section>
</footer>