<% if (!locals.user) { %>
    <% if (locals.loginError != undefined) { %>
        <form class = 'login-form' id = 'shift-login' action = '/login' method = 'POST'>
    <% } else { %>
        <form class = 'login-form' action = '/login' method = 'POST'>
    <% } %>
    
        <div>
            <input class = 'login-input' type = 'email' name = 'email' placeholder = 'Email'>
            <input class = 'login-input' type = 'password' name = 'password' placeholder = 'Password'>
            <p class = 'prompt'>Don't have an account? <a href = '/register'>Register</a></p>
    
            <% if (locals.loginError != undefined) { %>
                <p id = 'login-error'><%= locals.loginError %></p>
            <% } else { %>
                <p id = 'login-error' style = 'display: none'></p>
            <% } %>
        </div>
    
        <button class = 'button'>Log in</button>

    </form>
<% } %>