<div id = 'profile'>
    <div id = 'profilePicture'></div>
    <div>
        <p>Joseph</p>
        <p>Herberth</p>
        <p>23-03-2000</p>
        <p>Male</p>
        <p>Joseph_bock@hotmail.com</p>
    </div>
</div>